<!DOCTYPE html>
<html>
<head>
    <title>PDF Display</title>
    <!-- <style>
        body {
            width: 500px;
            height: 600px;
        }
    </style> -->
</head>
<body>

    <h1>{{file}}</h1>
    <!-- <h1>{{ file }}#page={{ page_number }}</h1>
    <embed src="{{ file }}#page={{ page_number }}&view=fitH" type="application/pdf" height="600px" width="600px"/> -->
   
    <div class="parent" style="display: flex;">
        <div class="pdfViewer">
            <!-- <embed id="pdfEmbed" src="{{ main_file_path }}#page={{ page_number }}" type="application/pdf" height="700px" width="700px"/> -->

            <embed id="pdfEmbed" src="{{ file }}" type="application/pdf" height="700px" width="700px"/>
        </div>
    
        <div class="button">
            {% for result in results %}
                {% for key, value in result.items() %}
                    <input type="button" value="{{ key }}" class="myButton" style="width: 300px; height: 50px; margin: 40px;"
                           data-page="{{ value['page number'] }}" onclick="updatePDFSource('{{ file }}', '{{ page_number }}', `{{ value['page number'] }}`)">
                    <p>{{ value['page number'] }}</p>
                {% endfor %}
            {% endfor %}
        </div>

    </div>

</body>

<script>
    function updatePDFSource(file, currentPage, targetPage) {
        const div = document.querySelector('.pdfViewer');

        console.log(`<embed src="${file}#page=${targetPage}"`)
        div.innerHTML = `<embed src="${file}#page=${targetPage}" type="application/pdf" height="700px" width="700px"/>`;
    }

    const buttons = document.querySelectorAll('.myButton');
    buttons.forEach(button => {
        button.addEventListener('click', function () {
            const currentPage = "{{ page_number }}";
            const targetPage = this.getAttribute('data-page');
            updatePDFSource("{{ file }}", currentPage, targetPage);
        });
    });
</script>

</html>