<!DOCTYPE html>
<html>
<head>
    <title>PDF Display</title>
</head>
<body>

    <h1>{{message}}</h1>

    <div class="parent" style = "display: flex;">

        <div class="pdf_viewer">

            <object data="{{ pdf_file }}" type="application/pdf" width="600" height="600">
                <p>It appears you don't have a PDF plugin for this browser. No worries, you can <a href="{{ pdf_file }}">download the PDF</a>.</p>
            </object>
            
        </div>

        <div class="asdfg">

            <form action="/find_name_in_pdf" method="post">
                <div class="input_name" style="margin-left: 10px;">
                    <label for="name_to_be_found">Enter name to find in document:</label>
                    <input type="text" name="name_to_be_found" id="name_to_be_found">
                </div>
                
                <div class="find_name_button" style="text-align: center; margin-top: 10px;">
                    <input type="submit" value="Find Name"> 
                </div>
            </form>


        </div>
        

    </div>


</body>
</html>
