<!DOCTYPE html>
<html>
<head>
    <title>PDF Display</title>
    <!-- <style>
        body {
            width: 500px;
            height: 600px;
        }
    </style> -->
</head>
<body>

    <h1>{{file}}</h1>
    <!-- <h1>{{ file }}#page={{ page_number }}</h1>
    <embed src="{{ file }}#page={{ page_number }}&view=fitH" type="application/pdf" height="600px" width="600px"/> -->
   
    <div class="parent" style="display: flex;">
        <div class="pdfViewer">
            <!-- <embed id="pdfEmbed" src="{{ main_file_path }}#page={{ page_number }}" type="application/pdf" height="700px" width="700px"/> -->
            <embed id="pdfDoc" src="bbd1.pdf#page=1" type="application/pdf" height="700px" width="700px"/>

            <!-- <object data="{{ file }}#page=1" type="application/pdf" height="700px" width="700px"></object> -->
        </div>
    
        <div class="button">
            
                <input type="button" value="{{ key }}" class="myButton" style="width: 300px; height: 50px; margin: 20px;"
                data-page="{{ value['page number'] | int }}" onclick="updatePDFSource(`{{ value['page number'] }}`)">

                <input type="button" value="{{ key }}" class="myButton" style="width: 300px; height: 50px; margin: 20px;"
                data-page="{{ value['page number'] | int }}" onclick="updatePDFSource(`{{ value['page number'] }}`)">

                <input type="button" value="{{ key }}" class="myButton" style="width: 300px; height: 50px; margin: 20px;"
                data-page="{{ value['page number'] | int }}" onclick="updatePDFSource('{{ file }}', `{{ value['page number'] }}`)">

                <input type="button" value="{{ key }}" class="myButton" style="width: 300px; height: 50px; margin: 20px;"
                data-page="{{ value['page number'] | int }}" onclick="updatePDFSource('{{ file }}', `{{ value['page number'] }}`)">

                <input type="button" value="{{ key }}" class="myButton" style="width: 300px; height: 50px; margin: 20px;"
                data-page="{{ value['page number'] | int }}" onclick="updatePDFSource('{{ file }}', `{{ value['page number'] }}`)">

                <input type="button" value="{{ key }}" class="myButton" style="width: 300px; height: 50px; margin: 20px;"
                data-page="{{ value['page number'] | int }}" onclick="updatePDFSource('{{ file }}', `{{ value['page number'] }}`)">
         
        </div>

    </div>

</body>

<script>
    function updatePDFSource(file_to_display, targetPage) {
        targetPage = parseInt(targetPage);
        console.log(targetPage)
        console.log(file_to_display)

        // if(targetPage === 1){
        //     console.log("page number is one")
        // }
        // else 
        if(!isNaN(targetPage) && targetPage > 0){
            // const div = document.querySelector('.pdfViewer');
            const pdfDoc = document.getElementById('pdfDoc');
            var clone = pdfDoc.cloneNode(true);
            console.log(`${file_to_display}#page=` + targetPage)
            clone.setAttribute('src', `${file_to_display}#page=` + targetPage)
            // const pdfEmbed = `<embed src="${file_to_display}#page=${targetPage}" type="application/pdf" height="700px" width="700px"/>`;

            // console.log(pdfEmbed);
            // div.innerHTML = null
            // div.innerHTML = pdfEmbed;

            pdfDoc.parentNode.replaceChild(clone, pdfDoc)
        }
        
        else{
            console.log("target page value is not valid")

        }
        
    }

    // document.querySelectorAll('.myButton').forEach(button => {
    //     button.addEventListener('click', function () {
    //         const targetPage = this.getAttribute('data-page');
    //         updatePDFSource("{{ file }}", targetPage);
    //     });
    // });
</script>

</html>